@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.6rem;
}

@theme inline {
  --font-poppins: Poppins, sans-serif;

  --color-red-primary: #aa1d1d;
  --color-red-secondary: #480909;
  --color-red-tertiary: #230909;
  --color-dark-gray: #181818;
  --color-ligth-gray: #b3b3b3;
  --color-dark-primary: #141414;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
